<link rel="stylesheet" href="/static/style.css">
<div class="card">
<h2>ZKP Secure Registration</h2>
<input id="u" placeholder="Username">
<input id="p" type="password" placeholder="Secret Passphrase">
<button onclick="reg()">Register</button>
<pre id="out"></pre>
</div>

<script>
function reg(){
fetch("/register",{method:"POST",
headers:{"Content-Type":"application/json"},
body:JSON.stringify({username:u.value,password:p.value})
}).then(r=>r.json()).then(d=>{
out.innerText=JSON.stringify(d,null,2);
});
}
</script>
